/* stylelint-disable selector-type-case, selector-type-no-unknown, declaration-property-value-no-unknown, selector-class-pattern */

/* stylelint-disable-next-line */
Container {
    width: 80%;
    height: 80%;
    border: heavy #646464; /* Using a neutral grey for accent */
    padding: 1 2;
}


/* stylelint-disable-next-line */
TextArea {
    border: round #6c757d; /* Using a darker grey for secondary */
    margin-bottom: 1;
    height: 1fr;
}

#commands_display {
    background: #343a40; /* Darker surface */
    height: auto;
    min-height: 1;
}

#explanation_display {
    background: #212529; /* Even darker surface */
}

#command_input {
    height: auto;
    min-height: 3;
    max-height: 10;
}

/* stylelint-disable-next-line */
Screen {
    /* stylelint-disable-next-line property-no-unknown */
    align: center middle;
}

.-modal {
    /* stylelint-disable-next-line property-no-unknown */
    align: center middle;
    /* stylelint-disable-next-line */
    background: $panel;
    /* stylelint-disable-next-line */
    border: thick $accent;
    padding: 1;
    width: 80%;
    height: 80%;
    /* stylelint-disable-next-line property-no-unknown */
    layer: dialog;
}
